[include]
	path = .gitremotes
	path = .borgconfig
[submodule "./lib/ox-pandoc"]
	url = https://github.com/emacsorphanage/ox-pandoc
[submodule "2048-game"]
	path = lib/2048-game
	url = git@github.com:emacsmirror/2048-game.git
[submodule "a7r7-laas"]
	path = lib/a7r7-laas
	url = https://github.com/A7R7/LaTeX-auto-activating-snippets.git
[submodule "aas"]
	path = lib/aas
	url = https://github.com/ymarco/auto-activating-snippets
[submodule "aggressive-indent"]
	path = lib/aggressive-indent
	url = https://github.com/Malabarba/aggressive-indent-mode
[submodule "aio"]
	path = lib/aio
	url = https://github.com/skeeto/emacs-aio
[submodule "alert"]
	path = lib/alert
	url = https://github.com/jwiegley/alert
[submodule "all-the-icons"]
	path = lib/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el
[submodule "annalist"]
	path = lib/annalist
	url = https://github.com/noctuid/annalist.el
[submodule "async"]
	path = lib/async
	url = https://github.com/jwiegley/emacs-async
[submodule "auctex"]
	path = lib/auctex
	url = git@github.com:emacsmirror/auctex.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = https://github.com/emacscollective/auto-compile
[submodule "avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy
[submodule "beacon"]
	path = lib/beacon
	url = https://github.com/Malabarba/beacon
[submodule "blink-search"]
	path = lib/blink-search
	url = https://github.com/manateelazycat/blink-search.git
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg
[submodule "cask"]
	path = lib/cask
	url = git@github.com:emacsattic/cask.git
[submodule "cdlatex"]
	path = lib/cdlatex
	url = https://github.com/cdominik/cdlatex
[submodule "centaur-tabs"]
	path = lib/centaur-tabs
	url = https://github.com/ema2159/centaur-tabs
[submodule "closql"]
	path = lib/closql
	url = https://github.com/magit/closql
[submodule "color-rg"]
	path = lib/color-rg
	url = https://github.com/manateelazycat/color-rg
[submodule "compat"]
	path = lib/compat
	url = https://github.com/emacs-compat/compat
[submodule "consult"]
	path = lib/consult
	url = https://github.com/minad/consult
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el
[submodule "dashboard"]
	path = lib/dashboard
	url = https://github.com/emacs-dashboard/emacs-dashboard
[submodule "deferred"]
	path = lib/deferred
	url = https://github.com/kiwanami/emacs-deferred
[submodule "diff-hl"]
	path = lib/diff-hl
	url = https://github.com/dgutov/diff-hl
[submodule "diminish"]
	path = lib/diminish
	url = https://github.com/myrjola/diminish.el
[submodule "diredfl"]
	path = lib/diredfl
	url = https://github.com/purcell/diredfl
[submodule "dirvish"]
	path = lib/dirvish
	url = https://github.com/alexluigit/dirvish
[submodule "doom-modeline"]
	path = lib/doom-modeline
	url = https://github.com/seagle0128/doom-modeline
[submodule "doom-themes"]
	path = lib/doom-themes
	url = https://github.com/doomemacs/themes
[submodule "eaf"]
	path = lib/eaf
	url = https://github.com/emacs-eaf/emacs-application-framework
[submodule "easy-hugo"]
	path = lib/easy-hugo
	url = https://github.com/masasam/emacs-easy-hugo
[submodule "edit-indirect"]
	path = lib/edit-indirect
	url = https://github.com/Fanael/edit-indirect
[submodule "elfeed"]
	path = lib/elfeed
	url = https://github.com/skeeto/elfeed
[submodule "elisp-def"]
	path = lib/elisp-def
	url = https://github.com/Wilfred/elisp-def
[submodule "elisp-refs"]
	path = lib/elisp-refs
	url = https://github.com/Wilfred/elisp-refs
[submodule "emacsql"]
	path = lib/emacsql
	url = https://github.com/magit/emacsql
[submodule "embark"]
	path = lib/embark
	url = https://github.com/oantolin/embark
[submodule "epkg"]
	path = lib/epkg
	url = https://github.com/emacscollective/epkg
[submodule "etexshow"]
	path = lib/etexshow
	url = https://github.com/pgundlach/etexshow
[submodule "evil"]
	path = lib/evil
	url = https://github.com/emacs-evil/evil
[submodule "evil-collection"]
	path = lib/evil-collection
	url = https://github.com/emacs-evil/evil-collection
[submodule "evil-nerd-commenter"]
	path = lib/evil-nerd-commenter
	url = https://github.com/redguardtoo/evil-nerd-commenter
[submodule "evil-org"]
	path = lib/evil-org
	url = https://github.com/Somelauw/evil-org-mode
[submodule "evil-surround"]
	path = lib/evil-surround
	url = https://github.com/emacs-evil/evil-surround
[submodule "evil-tutor"]
	path = lib/evil-tutor
	url = https://github.com/syl20bnr/evil-tutor
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el
[submodule "fingertip"]
	path = lib/fingertip
	url = https://github.com/manateelazycat/fingertip.git
[submodule "fixed-pitch-mode"]
	path = lib/fixed-pitch-mode
	url = https://github.com/cstby/fixed-pitch-mode.git
[submodule "gcmh"]
	path = lib/gcmh
	url = https://gitlab.com/koral/gcmh
[submodule "general"]
	path = lib/general
	url = https://github.com/noctuid/general.el
[submodule "git-modes"]
	path = lib/git-modes
	url = https://github.com/magit/git-modes
[submodule "grip-mode"]
	path = lib/grip-mode
	url = https://github.com/seagle0128/grip-mode
[submodule "helpful"]
	path = lib/helpful
	url = https://github.com/Wilfred/helpful
[submodule "highlight-indent-guides"]
	path = lib/highlight-indent-guides
	url = https://github.com/DarthFennec/highlight-indent-guides
[submodule "hl-todo"]
	path = lib/hl-todo
	url = https://github.com/tarsius/hl-todo
[submodule "holo-layer"]
	path = lib/holo-layer
	url = https://github.com/manateelazycat/holo-layer
[submodule "ht"]
	path = lib/ht
	url = https://github.com/Wilfred/ht.el
[submodule "htmlize"]
	path = lib/htmlize
	url = https://github.com/hniksic/emacs-htmlize
[submodule "hydra"]
	path = lib/hydra
	url = https://github.com/abo-abo/hydra
[submodule "imenu-list"]
	path = lib/imenu-list
	url = https://github.com/bmag/imenu-list
[submodule "info+"]
	path = lib/info+
	url = git@github.com:emacsmirror/info-plus.git
[submodule "info-colors"]
	path = lib/info-colors
	url = https://github.com/ubolonton/info-colors
[submodule "js2-mode"]
	path = lib/js2-mode
	url = https://github.com/mooz/js2-mode
[submodule "json-mode"]
	path = lib/json-mode
	url = https://github.com/joshwnj/json-mode
[submodule "json-snatcher"]
	path = lib/json-snatcher
	url = https://github.com/Sterlingg/json-snatcher
[submodule "key-echo"]
	path = lib/key-echo
	url = https://github.com/manateelazycat/key-echo.git
[submodule "laas"]
	path = lib/laas
	url = https://github.com/tecosaur/LaTeX-auto-activating-snippets
[submodule "leaf"]
	path = lib/leaf
	url = https://github.com/conao3/leaf.el
[submodule "llama"]
	path = lib/llama
	url = git@github.com:emacsmirror/llama.git
[submodule "lsp-bridge"]
	path = lib/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "math-symbol-lists"]
	path = lib/math-symbol-lists
	url = https://github.com/vspinu/math-symbol-lists
[submodule "meow"]
	path = lib/meow
	url = https://github.com/meow-edit/meow
[submodule "mini-frame"]
	path = lib/mini-frame
	url = https://github.com/muffinmad/emacs-mini-frame
[submodule "minimap"]
	path = lib/minimap
	url = git@github.com:emacsmirror/minimap.git
[submodule "mixed-pitch"]
	path = lib/mixed-pitch
	url = https://gitlab.com/jabranham/mixed-pitch
[submodule "nano-theme"]
	path = lib/nano-theme
	url = https://github.com/rougier/nano-theme
[submodule "nerd-icons"]
	path = lib/nerd-icons
	url = https://github.com/rainstormstudio/nerd-icons.el
[submodule "nix-mode"]
	path = lib/nix-mode
	url = https://github.com/NixOS/nix-mode
[submodule "no-littering"]
	path = lib/no-littering
	url = https://github.com/emacscollective/no-littering
[submodule "notibox"]
	path = lib/notibox
	url = https://github.com/MitchMarq42/notibox.el.git
[submodule "olivetti"]
	path = lib/olivetti
	url = https://github.com/rnkn/olivetti
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless
[submodule "org"]
	path = lib/org
	url = https://git.tecosaur.net/tec/org-mode.git
[submodule "org-agenda-property"]
	path = lib/org-agenda-property
	url = https://github.com/Malabarba/org-agenda-property
[submodule "org-appear"]
	path = lib/org-appear
	url = https://github.com/awth13/org-appear
[submodule "org-auto-tangle"]
	path = lib/org-auto-tangle
	url = https://github.com/yilkalargaw/org-auto-tangle
[submodule "org-bars"]
	path = lib/org-bars
	url = https://github.com/tonyaldon/org-bars.git
[submodule "org-download"]
	path = lib/org-download
	url = https://github.com/abo-abo/org-download
[submodule "org-edna"]
	path = lib/org-edna
	url = git@github.com:emacsmirror/org-edna.git
[submodule "org-fragtog"]
	path = lib/org-fragtog
	url = https://github.com/io12/org-fragtog
[submodule "org-gtd"]
	path = lib/org-gtd
	url = https://github.com/Trevoke/org-gtd.el
[submodule "org-ml"]
	path = lib/org-ml
	url = https://github.com/ndwarshuis/org-ml
[submodule "org-modern"]
	path = lib/org-modern
	url = https://github.com/minad/org-modern
[submodule "org-preview-html"]
	path = lib/org-preview-html
	url = https://github.com/jakebox/org-preview-html
[submodule "org-roam"]
	path = lib/org-roam
	url = https://github.com/org-roam/org-roam
[submodule "org-super-agenda"]
	path = lib/org-super-agenda
	url = https://github.com/alphapapa/org-super-agenda
[submodule "org-super-links"]
	path = lib/org-super-links
	url = git@github.com:toshism/org-super-links.git
[submodule "org-superstar"]
	path = lib/org-superstar
	url = https://github.com/integral-dw/org-superstar-mode
[submodule "org-visibility"]
	path = lib/org-visibility
	url = https://github.com/nullman/emacs-org-visibility
[submodule "org-visual-outline"]
	path = lib/org-visual-outline
	url = https://github.com/legalnonsense/org-visual-outline
[submodule "orgtbl-aggregate"]
	path = lib/orgtbl-aggregate
	url = https://github.com/tbanel/orgaggregate
[submodule "ov"]
	path = lib/ov
	url = https://github.com/emacsorphanage/ov
[submodule "ox-gfm"]
	path = lib/ox-gfm
	url = https://github.com/larstvei/ox-gfm
[submodule "ox-hugo"]
	path = lib/ox-hugo
	url = https://github.com/kaushalmodi/ox-hugo
[submodule "ox-pandoc"]
	path = lib/ox-pandoc
	url = https://github.com/emacsorphanage/ox-pandoc
[submodule "ox-reveal"]
	path = lib/ox-reveal
	url = https://github.com/yjwen/org-reveal
[submodule "pacmacs"]
	path = lib/pacmacs
	url = https://github.com/codingteam/pacmacs.el
[submodule "pdf-tools"]
	path = lib/pdf-tools
	url = https://github.com/vedang/pdf-tools
	ignore = dirty
[submodule "peg"]
	path = lib/peg
	url = git@github.com:emacsmirror/peg.git
[submodule "persp-mode"]
	path = lib/persp-mode
	url = https://github.com/Bad-ptr/persp-mode.el
[submodule "perspective"]
	path = lib/perspective
	url = https://github.com/nex3/perspective-el
[submodule "pfuture"]
	path = lib/pfuture
	url = https://github.com/Alexander-Miller/pfuture
[submodule "plantuml-mode"]
	path = lib/plantuml-mode
	url = https://github.com/skuro/plantuml-mode
[submodule "popper"]
	path = lib/popper
	url = https://github.com/karthink/popper
[submodule "posframe"]
	path = lib/posframe
	url = https://github.com/tumashu/posframe
[submodule "powerline"]
	path = lib/powerline
	url = https://github.com/milkypostman/powerline
[submodule "projectile"]
	path = lib/projectile
	url = https://github.com/bbatsov/projectile
[submodule "queue"]
	path = lib/queue
	url = git@github.com:emacsmirror/queue.git
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters
[submodule "rainbow-mode"]
	path = lib/rainbow-mode
	url = git@github.com:emacsmirror/rainbow-mode.git
[submodule "request"]
	path = lib/request
	url = https://github.com/tkf/emacs-request
[submodule "ripgrep"]
	path = lib/ripgrep
	url = https://github.com/nlamirault/ripgrep.el
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el
[submodule "separedit"]
	path = lib/separedit
	url = https://github.com/twlz0ne/separedit.el
[submodule "shrink-path"]
	path = lib/shrink-path
	url = https://gitlab.com/bennya/shrink-path.el
[submodule "simple-httpd"]
	path = lib/simple-httpd
	url = https://github.com/skeeto/emacs-web-server
[submodule "skewer-mode"]
	path = lib/skewer-mode
	url = https://github.com/skeeto/skewer-mode
[submodule "smartparens"]
	path = lib/smartparens
	url = https://github.com/Fuco1/smartparens
[submodule "solaire-mode"]
	path = lib/solaire-mode
	url = https://github.com/hlissner/emacs-solaire-mode
[submodule "spacious-padding"]
	path = lib/spacious-padding
	url = https://github.com/emacsmirror/spacious-padding
[submodule "sqlite3"]
	path = lib/sqlite3
	url = https://github.com/pekingduck/emacs-sqlite3-api
[submodule "sublime-themes"]
	path = lib/sublime-themes
	url = https://github.com/owainlewis/emacs-color-themes
[submodule "tablist"]
	path = lib/tablist
	url = https://github.com/emacsorphanage/tablist
[submodule "tomelr"]
	path = lib/tomelr
	url = https://github.com/kaushalmodi/tomelr
[submodule "topspace"]
	path = lib/topspace
	url = https://github.com/trevorpogue/topspace
[submodule "transient"]
	path = lib/transient
	url = https://github.com/magit/transient
[submodule "transient-posframe"]
	path = lib/transient-posframe
	url = https://github.com/yanghaoxie/transient-posframe
[submodule "treemacs"]
	path = lib/treemacs
	url = https://github.com/Alexander-Miller/treemacs
[submodule "treepy"]
	path = lib/treepy
	url = https://github.com/volrath/treepy.el
[submodule "treesit-auto"]
	path = lib/treesit-auto
	url = https://github.com/renzmann/treesit-auto
[submodule "ts"]
	path = lib/ts
	url = https://github.com/alphapapa/ts.el
[submodule "valign"]
	path = lib/valign
	url = https://github.com/casouri/valign
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico
[submodule "vertico-posframe"]
	path = lib/vertico-posframe
	url = https://github.com/tumashu/vertico-posframe
[submodule "visual-fill-column"]
	path = lib/visual-fill-column
	url = git@github.com:emacsmirror/visual-fill-column.git
[submodule "vscode-icon"]
	path = lib/vscode-icon
	url = https://github.com/jojojames/vscode-icon-emacs
[submodule "vterm"]
	path = lib/vterm
	url = https://github.com/akermu/emacs-libvterm
[submodule "vterm-toggle"]
	path = lib/vterm-toggle
	url = https://github.com/jixiuf/vterm-toggle
[submodule "vundo"]
	path = lib/vundo
	url = https://github.com/casouri/vundo
[submodule "which-key"]
	path = lib/which-key
	url = https://github.com/justbur/emacs-which-key
[submodule "which-key-posframe"]
	path = lib/which-key-posframe
	url = https://github.com/emacsorphanage/which-key-posframe
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor
[submodule "writeroom-mode"]
	path = lib/writeroom-mode
	url = https://github.com/joostkremers/writeroom-mode
[submodule "xenops"]
	path = lib/xenops
	url = https://github.com/dandavison/xenops
[submodule "yascroll"]
	path = lib/yascroll
	url = https://github.com/emacsorphanage/yascroll
[submodule "yasnippet"]
	path = lib/yasnippet
	url = https://github.com/joaotavora/yasnippet
[submodule "zoxide"]
	path = lib/zoxide
	url = https://gitlab.com/Vonfry/zoxide.el
