*
!/eln-cache/*
!lib
!lib/**
!etc
!etc/**
!assets
!assets/**
!games
!games/**
!.gitmodules
!.gitremotes
!.gitignore
!.borgconfig
!.dir-locals.el
!Makefile
!config.org
!readme.org
!early-init.el
!init.el
!LICENSE
